nav {
    position: sticky;
}

.navBtn{
    display: flex;
    flex-direction: row-reverse;
    background-color:rgba(255, 255, 255, 0.7);
    margin-bottom: 1.5em;
}

.navBtn button,a{
    margin: 2px;
}

nav button,a {
    font-weight: 700;
    font-size: 1.2em;
    padding: 10px;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    background-color: white;
    color: black;
}


  @media only screen and (max-width: 600px) {
    nav button {
        width: 100%;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        background-color: white;
        color: black;
        box-shadow: 2px black;
    }
  }