.navBtn{
    display: flex;
    flex-direction: row-reverse;
    background-color:rgba(255, 255, 255, 0.7);
    margin-bottom: 3em;
}

.navBtn button,a{
    margin: 5px;
}

nav button,a {
    font-weight: 700;
    font-size: 1.2em;
    padding: 10px;
    text-decoration: none;
    background-color: white;
    color: black;
}

nav button:hover, a:hover{
    color: rgb(50, 50, 195);
}


.dashboardNav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-content: center;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
}

.dashboardNav button{
    font-size: 1.1em;
    float: left;
    text-align: center;
    padding: 15px;
    border-right: 1px solid black ;
    margin: 5px;
}

  @media only screen and (max-width: 600px) {
    nav button {
        width: 100%;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        background-color: white;
        color: black;
        box-shadow: 2px black;
    }
  }