.AddFood{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background: white;
    padding: 20px;
}

.AddFood__input{
    width: 60%;
}

@media only screen and (max-width: 900px) {
    .AddFood__input{
        width: 100%;
    }
}